@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Welcome</h2>
</div>
<br />
<a href="~/Home/SignalrDemo">Page for the SignalR demo.</a>
<br />
<br />
<p>
    Remember the games from Jackbox party pack?
    What if we could just program our own games and host it locally on this website.
    Simply connect using our phone web browsers and it's ready to go!
</p>
<br />
<div>
    <h3>List of games</h3>
    <br />
    <a href="~/MegaloadRacers">Megaload Racers (2 to 10 p)</a>
    <br />
    <br />
    <a href="~/">Immoral Combat (2 to 10 p)</a>
    <br />
    <br />
    <a href="~/">Tetris (2 to 10 p)</a>
    <br />
    <br />
    <a href="~/">Settlers of Catan (4 to 6 p)</a>
    <br />
    <br />
</div>

<script>
</script>