<style>
    .map1 {
        margin: 15px;
        border: 1px solid black;
        width: 1600px;
        height: 900px;
    }
</style>

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<!-- script src="~/Scripts/jquery.mobile-1.4.5.min.js"></script -->
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/signalr/hubs"></script>

<div class="map1">

</div>

<script>
    $(document).ready(function () {

    });
</script>